@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch&family=Pacifico&family=Roboto&display=swap');

.brandName {
  font-family: 'Pacifico', cursive;
  color: white;
  font-weight: lighter;
  padding: 0;
  margin: 0;
  font-size: large;
}

.brandName a {
  text-decoration: none;
}

h1 {
  font-family: 'Pacifico', cursive;
}

.navigateText {
  font-family: 'Chakra Petch', sans-serif;
  font-size: 2.4vh;
  margin-bottom: 0;
}

.navigateText Link {
  color: white;
}

.jumboPara {
  font-family: 'Chakra Petch', sans-serif;
  font-size: 28px;
}

body {
  margin: 0;
  padding-top: 45px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #e9ecef;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.myFooter {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: lightblue;
}

.backGround {
  color:black;
}

.jumboStyle {
  background-color: #e9ecef;
  padding-bottom: 10px;
}

.aboutText {
  font-family: 'Chakra Petch', sans-serif;
  font-size: 20px;
}

.social-icons {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.container {
  width: 90%;
}

.hello-text {
  color: black;
  text-shadow: -2px 2px 60px blue;
}

/*this is for "hi there my name is Sandile"*/
.leftText {
  text-align: right;
}
.rightText {
  text-align: left;
}